<!DOCTYPE html>
<html>
<head>
    <title>Tu Página</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
    <h1>Datos Django:</h1>
    {% for dato in datos_django %}
        <button class="glowing-button" onclick="cambiarURL('{{ dato.slider }}')">{{ dato.slider }}. {{ dato.name }}</button>
    {% endfor %}
    <button class="glowing-button" onclick="SS(55)">Start</button>
    <button class="glowing-button" onclick="SS(56)">Stop</button>
</body>

<script>
    function cambiarURL(numero) {
        var url = 'http://192.168.31.120:8500//api/set_map_type/';
        if(numero != undefined){
            url += '?map_type=' + numero;
        }
        // Realizar una solicitud POST utilizando fetch
        fetch(url)
        .then(response => response.json())
        .then(data => {
            // Manejar la respuesta del servidor si es necesario
            console.log('Respuesta del servidor:', data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function SS(numero) {
        var url = 'http://192.168.31.140:8000/';
        if(numero == 55){
            url += 'start';
        }
        else{
            url += 'stop';
        }
        // Realizar una solicitud POST utilizando fetch
        fetch(url)
        .then(response => response.json())
        .then(data => {
            // Manejar la respuesta del servidor si es necesario
            console.log('Respuesta del servidor:', data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

</html>


