<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control zone</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
    <div class="container">
        <div class="row"> 
            <div class="col-m-12 col-l-12" style="background-color: yellow;"><a>Mapas</a></div>
            <div class="col-m-12 col-l-12">
                <button class="glowing-button" onclick="cambiarURL(1)">Diversidad de Suelo</button>
                <button class="glowing-button" onclick="cambiarURL(4)">Población</button>
                <button class="glowing-button" onclick="cambiarURL(6)">Parques</button>
                <button class="glowing-button" onclick="cambiarURL(7)">Plazas</button>
                <button class="glowing-button" onclick="cambiarURL(2)">Educación</button>
                <button class="glowing-button" onclick="cambiarURL(3)">Proximidad de cultura</button>
                <button class="glowing-button" onclick="cambiarURL(8)">Aprovisionamiento</button>
                <button class="glowing-button" onclick="cambiarURL(9)">Comercio</button>
                <button class="glowing-button" onclick="cambiarURL(10)">Edificacion</button>
                <button class="glowing-button" onclick="cambiarURL(10+1)">Salud</button>
                <button class="glowing-button" onclick="gif('a')">Gif Azul Bici Futuro</button>
                <button class="glowing-button" onclick="gif('b')">Gif Azul Bici Actual</button>
                <button class="glowing-button" onclick="gif('x')">Gif Bici Futuro</button>
                <button class="glowing-button" onclick="gif('Z')">Gif Bici Actual</button>
                <button class="glowing-button" onclick="gif('c')">Gif Personas</button>
                <button class="glowing-button" onclick="SS(55)">Start</button>
                <button class="glowing-button" onclick="SS(56)">Stop</button>
                <button class="glowing-button" onclick="window.open('http://192.168.31.247:8081/video_feed')">Abrir Video</button>
                <button class="glowing-button" onclick="setMap()">Set Map</button>


            </div>
        </div>
    </div>    

    <script>
        function setMap(){
            fetch(`http://192.168.31.120:8500/api/set_map_state/?slots=13,14,15,16,17,18,19`)
        }
        function cambiarURL(numero) {
            var url = 'http://192.168.31.120:8500//api/set_map_type/';
            if(numero != undefined){
                url += '?map_type=' + numero;
            }
            // Realizar una solicitud POST utilizando fetch
            fetch(url)
            .then(response => response.json())
            .then(data => {
                // Manejar la respuesta del servidor si es necesario
                console.log('Respuesta del servidor:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        function SS(numero) {
            var url = 'http://192.168.31.140:8000/';
            if(numero == 55){
                url += 'start';
            }
            else{
                url += 'stop';
            }
            // Realizar una solicitud POST utilizando fetch
            fetch(url)
            .then(response => response.json())
            .then(data => {
                // Manejar la respuesta del servidor si es necesario
                console.log('Respuesta del servidor:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

</body>
</html>
